.app-plug {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__text {
    font-size: var(--text-title-font-size);
    line-height: var(--text-title-line-height);
  }
}